@font-face {
    font-family: "Vazir";
    src: url("./fonts/Vazir.eot"); /* IE9 Compat Modes */
    src: url("./fonts/Vazir.eot?#iefix") format("embedded-opentype"),
      /* IE6-IE8 */ url("./fonts/Vazir.woff2") format("woff2"),
      /* Super Modern Browsers */ url("./fonts/Vazir.woff") format("woff"),
      /* Pretty Modern Browsers */ url("./fonts/Vazir.ttf") format("truetype"); /* Safari, Android, iOS */
}

body {
 	font-family: "Vazir";
}

/*counter*/
#counter{
	font-size: 10px;
	/*top: .1rem;*/
}

/*links*/
#links {
	direction: rtl;
}
/* when height smaler tahn content btnHolder remain bottom */
@media screen and (max-height:606px) {
	.btnHolderNav {
		position: relative;
	}
}

@media screen and (max-height:420px) {
	.btnHolderSide {
		position: relative;
	}
}

.btnSide {
	padding: 0 0px !important;
}

/*when sidebar is limited text email counter min*/
.text-minCounter {
	font-size: 6.5px !important;
}